/* Coordinate Labels */

#board-wrapper {
  position: relative;
  display: inline-block;
}

.col-labels {
  display: grid;
  grid-template-columns: repeat(9, var(--cell-size));
  width: calc(9 * var(--cell-size));
  margin-bottom: 5px;
  margin-left: 35px;
  text-align: center;
}

.col-labels .coord-label {
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: 500;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.row-labels {
  position: absolute;
  left: 0;
  top: 25px;
  width: 30px;
  height: calc(9 * var(--cell-size));
  display: grid;
  grid-template-rows: repeat(9, var(--cell-size));
}

.row-labels .coord-label {
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  margin-left: 35px;
}

#board-container {
  position: relative;
}
